<?xml version="1.0" encoding="utf-8" ?>
<PackageConfiguration xmlns="http://www.siemens.com/automation/Openness/AddIn/Publisher/V19">
  <!--Enter values for Author, Description, AddInVersion, Name, ...-->
  <Author>A. MORELLET</Author>
  <Description>Convert comment from global db to hmi alarms</Description>
  <AddInVersion>V1.3</AddInVersion>
  <Product>
    <Name>Alarms builder</Name>
    <Id>906ABF3F-C4CA-45F7-98F0-2E78F9F3D48B</Id>
    <Version>19.0.1.3</Version>
  </Product>
  <FeatureAssembly>
    <AssemblyInfo>
      <Assembly>Extract_V19.dll</Assembly>
      <Pdb>Extract_V19.pdb</Pdb>
    </AssemblyInfo>
  </FeatureAssembly>
  
  <DisplayInMultiuser />
  
  <AdditionalAssemblies>
    <AssemblyInfo>
      <Assembly>Extract.Core.dll</Assembly>
      <Pdb>Extract.Core.pdb</Pdb>
    </AssemblyInfo>
    <AssemblyInfo>
      <Assembly>SimaticML.dll</Assembly>
      <Pdb>SimaticML.pdb</Pdb>
    </AssemblyInfo>
    <AssemblyInfo>
      <Assembly>Extract_UI.dll</Assembly>
      <Pdb>Extract_UI.pdb</Pdb>
    </AssemblyInfo>
  </AdditionalAssemblies>

  <RequiredPermissions>
    <TIAPermissions>
      <TIA.ReadWrite />
    </TIAPermissions>

    <SecurityPermissions>
      <System.Security.Permissions.SecurityPermission.UnmanagedCode/>
      <System.Security.Permissions.FileDialogPermission/>
      <System.Security.Permissions.UIPermission/>
      <!--<System.Security.Permissions.MediaPermission/>-->
      <!--<Siemens.Engineering.AddIn.Permissions.ProcessStartPermission/>-->
      <!--<System.Net.WebPermission/>-->
      <!--<System.Security.Permissions.KeyContainerPermission/>-->
      <!--<System.Net.SocketPermission/>-->
      <!--<System.Data.Odbc.OdbcPermission/>-->
      <!--<System.Security.Permissions.WebBrowserPermission/>-->
      <!--<System.Net.NetworkInformation.NetworkInformationPermission/>-->
      <System.Security.Permissions.StorePermission/>
      <!--<System.Configuration.ConfigurationPermission/>-->
      <System.Security.Permissions.FileIOPermission/>
      <System.Diagnostics.EventLogPermission/>
      <!--<System.Drawing.Printing.PrintingPermission/>-->
      <System.Security.Permissions.IsolatedStorageFilePermission/>
      <System.Data.OleDb.OleDbPermission/>
      <!--<System.Security.Permissions.RegistryPermission/>-->
      <!--<System.Data.SqlClient.SqlClientPermission/>-->
      <System.Security.Permissions.EnvironmentPermission/>
      <!--<System.Net.Mail.SmtpPermission/>-->
    </SecurityPermissions>
  </RequiredPermissions>

  <!--<Certificates>
    <SigningCertificate>..\Certificates\SigningFile.p12</SigningCertificate>
      <AdditionalCertificates>
        <Certificate>..\Certificates\AdditionalCert.cer</Certificate>
      </AdditionalCertificates>
    </Certificates>-->
</PackageConfiguration>